<div class="container mt-3">
  <h2>Editing Podcast</h2>

  <%= render 'form', podcast: @podcast %>

  <%= link_to 'Back to info', admin_podcast_path(@podcast), class: 'btn btn-secondary mt-2' %>
</div>
